@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-top {
  transition: top 0.3s;
}

.toggle__dot {
  top: -.25rem;
  left: -.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}

.route {
  position: absolute;
}

.route-enter {
  opacity: 0;
  transform: scale(1.1);
}

.route-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.route-exit {
  opacity: 1;
  transform: scale(1);
}

.route-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}